
<div>
    
    <h1 class="Titulo"><mat-icon class="Icon_Shop_Car"><span class="material-icons-car">
        shopping_cart
        </span></mat-icon >Carrito de Compras</h1>
</div>

<div class="ContPrincipal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div class="ContTabla">
        <table class="Productos">
            <thead>
                <tr>
                    <th colspan="2"><h2>Producto</h2></th>
                    <th><h2>Precio</h2></th>
                    <th><h2>Cantidad</h2></th>
                    <th><h2>Total</h2></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of elementos">
                    <td><img class="img_Producto" src="{{ dato.img }}"></td>
                    <td>{{ dato.producto }}</td>
                    <td>{{ dato.precio | currency}}</td>
                    <td>
                        <button (click)="disminuirCantidad(dato)">-</button>
                        {{ dato.cantidad }}
                        <button (click)="aumentarCantidad(dato)">+</button>
                    </td>
                    <td>{{ calcularTotalProducto(dato) | currency }}</td>
                    <td>
                        <button class="BotonEliminar" (click)="eliminarElemento(dato)">
                            <mat-icon class="IconoEliminar"><span class="material-symbols-outlined">
                                delete
                                </span></mat-icon>
                        </button>
                      </td>
                      
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ResumInfo">
        <div class="SubTotal">
            <h3 class="SubTotalText">Subtotal</h3>
            <h3 class="SubTotalVal">{{calcularSubtotal() | currency}}</h3>

        </div>
        <div class="TextCupon">
            <p >¿Tienes un código de cúpon? Ingresalo aquí</p>
        </div>
        <form [formGroup]="cuponForm" (ngSubmit)="aplicarCupon()">
            <div class="RedimirCupon">
              <input id="cupon" type="text" placeholder="Código" formControlName="cupon">
              <button type="submit">Redimir</button>
            </div>
        </form> 

        <div class="TextEnvio">
            
            <div class="envio-container">
                
                <p><span *ngIf="calcularEnvio() !== 'Envío gratis'" class="envio-cost">Costo de Envío:{{ calcularEnvio() }}</span></p>
            </div>
            <span *ngIf="calcularEnvio() === 'Envío gratis'" ><p>Costo de Envío:</p><div class="envio-gratis"><p class="Negrita">¡Felicidades!</p><p>Ya tienes</p> <p class="Negrita">ENVÍO GRATIS</p></div></span>
            
        </div>  
        <div class="Total">
            <h3 class="TotalText">Total</h3>
            <h3 class="TotalVal">{{calcularSubtotal() | currency}}</h3>

        </div>       
        <div>
            <button class="botonFinalizarCompra" routerLink="/formulario-envio" (click)="send()">Finalizar compra</button>
        </div>
    </div>
</div>

<div>
    <h2 class="titulo_Carrusel">Te podría interesar</h2>
    <p-carousel [value]="carrusel" [numVisible]="5" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoPlayInterval="3000">
      <ng-template let-elemento pTemplate="item">
        <div class="product-card">
          <img class="img_Carrusel" [src]="elemento.img" alt="Product Image" />
          <div class="text_Carrusel">
          <h3>{{ elemento.producto }}</h3>
          <h2 class="precio_Carrusel">{{ elemento.precio | currency }}</h2>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  