<div class="footer">
    <div class="container">
    <table>
        <tbody>
        <tr>
            <td><img src="/assets/icons/casa.png" alt="Icon 1" class="table-image">
                <p class="image-caption"><b>Sobre Nosotros</b></p>
                <p class = "textopequeno">Colombiana de comercio</p>
            </td>
            <td class="line"></td>
            <td><img src="/assets/icons/mail.png" alt="Icon 2" class="table-image">
                <p class="image-caption"><b>Email</b></p>   
                <p class = "textopequeno">marketplace@marketplace.com.co</p>         
            </td>
            <td class="line"></td>
            <td><img src="/assets/icons/tele.png" alt="Icon 3" class="table-image">
                <p class="image-caption"><b>Venta Telefónica</b></p>
                <p class = "textopequeno">Servicio al cliente: 607 6344000</p>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <hr>
    <div class="pagos"><b>Medios de pago autorizados</b></div>
    <div class="image-container footer-images">    
    <img src="/assets/icons/visa.png" alt="Image 1">
    <img src="/assets/icons/mastercard.png" alt="Image 2">
    <img src="/assets/icons/americanExpress.png" alt="Image 3">
    <img src="/assets/icons/pse.png" alt="Image 4">
    </div>
</div>