<header class="header">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <nav class="navigation">
    <div class="left-icons">
      <a routerLink="/#">
        <img src="/assets/icons/5.png" alt="Logo" class="logo">
      </a>
    </div>
    <div class="center-container">
      <div class="search-bar-container">
        <input type="text" placeholder="Buscar" class="search-bar">
        <a href="#"><img src="/assets/icons/lupa.png" alt="Icono Busqueda" class="search-icon"></a>
      </div>
    </div>
    <div class="right-icons">
      <a class="icon-car">
        <i routerLink="/carrito" class="material-icons dp48">shopping_cart</i>
      </a>
      <a href="#" class="icon-user" (click)="showLoginModal()">
        <i class="material-icons dp48">account_circle</i>
      </a>
    </div>
  </nav>
</header>

<app-login *ngIf="loginModalVisible" (closeModal)="hideLoginModal()"></app-login>
