.header {
  background-color: #15697D;
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.left-icons,
.center-container,
.right-icons {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 2vh;
  width: 30vh;
  height: auto;
  margin-left: 5vh;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 50vh;
  height: 32px;
  padding: 5px;
  border-radius: 16px;
  border: none; /* Elimina el borde de la barra de búsqueda */
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.example-icon {
  width: 2vh;
  height: 2vh;
}

.shopping-cart-icon,
.mat-icon {
  font-size: 28px;
  color: white;
}

.right-icons {
  display: flex;
  align-items: center;
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  margin-left: 10px; /* Ajusta el margen izquierdo según tus necesidades */
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  width: 48px; /* Ajusta el ancho según tus necesidades */
}
