/* Parámetros texto */
label{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vh;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
}

span{
    color: red;
}
/* Fin parámetros texto */

form {
    background-color: #ede7e3; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 5px; /* Radio de borde */
    width: 400px; /* Ancho del formulario */
    margin: 5vh auto; /* Centrar el formulario */
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
  }

.Asunto{
    height: 3vh;
}

.Mensaje{
    height: 6vh;
}