<h1 class="titulo">Finalizar compra</h1>

    <div class="contPrincipal">
        
        <!--CONTENEDOR IZQUIERDO-->
        <div class="contenedor-principal">
            <div class="contenedor-izquierdo">
                <h3>IDENTIFICACIÓN</h3> <br>
                <p>Aquí va el correo @marketplace.com.co</p> <br>
                <p>Nombre: Aquí va el nombre</p>
                <p>Teléfono / Celular: Aquí va el celular</p>
            </div>
            <div class="contenedor-derecho">
                <div class="contResumenPedido">
                    <div class="contTitulo">
                        <h3>ENVÍO</h3>
                    </div>
                    <div class="contBoton">
                        <button class="botonEditar" routerLink="/carrito">Editar Envío</button>
                    </div>
                </div> <br>
                <p>Aqui aparece la dirección de entrega.</p>
                <div class="entrega">
                    <p>Entrega entre x-x días hábiles</p>
                </div>

            </div>
            <div class="contenedor-inferior">
                <h3>PAGO</h3> <br>
                <div class="contPago">
                    <div class="columna-1">
                        <div class="contMetodo" onclick="mostrarFormulario()">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#055df5}</style><path d="M64 32C28.7 32 0 60.7 0 96v32H576V96c0-35.3-28.7-64-64-64H64zM576 224H0V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V224zM112 352h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm112 16c0-8.8 7.2-16 16-16H368c8.8 0 16 7.2 16 16s-7.2 16-16 16H240c-8.8 0-16-7.2-16-16z"/></svg>
                            </p> 
                            <p>TARJETA DE CRÉDITO</p>  
                        </div>
                        <div class="contMetodo" onclick="mostrarOtroContenido()"><p>
                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#055df5}</style><path d="M64 32C28.7 32 0 60.7 0 96v32H576V96c0-35.3-28.7-64-64-64H64zM576 224H0V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V224zM112 352h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm112 16c0-8.8 7.2-16 16-16H368c8.8 0 16 7.2 16 16s-7.2 16-16 16H240c-8.8 0-16-7.2-16-16z"/></svg>
                            <br>
                        </p>
                           <p>TARJETA DÉBITO</p> 
                        </div>
                        <div class="contMetodo" onclick="mostrarOtroContenido()"><p>PSE</p> </div>
                        <div class="contMetodo" onclick="mostrarOtroContenido()"><p>TARJETA DÉBITO</p> </div>
                    </div>
                    <div class="columna-2">
                        <div class="contVistaPago" id="vistaPago">Contenido derecho</div>
                    </div>
                </div>
            </div>
        </div>

        <!--CONTENEDOR DERECHO-->
        <div class="contDer">
            <div class="contResumenPedido">
                <div class="contTitulo">
                    <h3>RESUMEN DEL PEDIDO</h3>
                </div>
                <div class="contBoton">
                    <button class="botonEditar" routerLink="/carrito">Editar Carrito</button>
                </div>
            </div> <br>
            <table class="Productos">
                <thead>
                    <tr>
                        <th colspan="2"><p>Foto</p></th>
                        <th><p>Producto</p></th>
                        <th><p>Total</p></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
        
                </tbody>
            </table> <br>
            <div class="contResumenPedido">
                <div class="contSubtotal">
                    <h3 class="resumen">Subtotal</h3>
                </div>
                <div class="precioSubtotal">
                    <p>$000.000</p>
                </div>
            </div>
            <div class="contResumenPedido">
                <div class="contSubtotal">
                    <h3 class="resumen">Descuento</h3>
                </div>
                <div class="precioSubtotal">
                    <p>$000.000</p>
                </div>
            </div>
            <div class="contResumenPedido">
                <div class="contSubtotal">
                    <h3 class="resumen">Envío</h3>
                </div>
                <div class="precioSubtotal">
                    <p>$000.000</p>
                </div>
            </div> <br>
            <div class="Total">
                <div class="contSubtotal">
                    <h3 class="resumen">TOTAL</h3>
                </div>
                <div class="precioSubtotal">
                    <h3 class="resumen">$000.000</h3>

                </div> 
            </div> <br>
            <p>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web y otros propósitos descritos en nuestra
            <u>política de privacidad.</u> </p> <br>

            <div class="contBotonComprar">
                <button class="botonComprar" routerLink="/carrito">
                    <h3> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#ffffff}</style><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
                    COMPRAR AHORA</h3>

                </button>
            </div> <br>


            
        </div>
    </div>